
@font-face{
    font-family: firstfontused;
    src: url(../fonts/Rubik-Bold.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    color: rgba(251, 251, 255, 0.938);
    /* font-weight: bold; */
    font-family: 'firstfontused';
    }

    body{
        padding: 0;
        margin: 0;
        scroll-behavior:smooth;
    }
header{
    display: flex;
    flex-direction: row;
}
